*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', serif;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #f8f8ff;
}

nav[role="login"] {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #2a3542;
  z-index: 4;
  text-align: center;
  display: inline-block;
}

nav h2 {
  text-align: center;
  top: 5px;
  font-family: 'Cardo', serif;
  font-size: 25px;
  margin: 12px auto;
  font-weight: 150;
  color: gainsboro;
}

main[role="login"] {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/shop2.jpg");
}

main #sign-in-form {
  z-index: 3;
  position: relative;
  top: 25vh;
  margin: 0 auto;
  max-width: 450px;
  height: 350px;
  background: rgba(130, 130, 130, .3);
  padding: 20px 22px;
  border: 1px solid;
  border-top-color: rgba(255, 255, 255, .4);
  border-left-color: rgba(255, 255, 255, .4);
  border-bottom-color: rgba(60, 60, 60, .4);
  border-right-color: rgba(60, 60, 60, .4);
  padding: 1em;
  color: #fff;
}

#sign-in-form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

#sign-in-form label {
  display: block;
  margin-bottom: 10px;
}

#sign-in-form button,
#sign-in-form input {
  width: 100%;
  padding: 1em;
  height: 52px;
  border-radius: 3.5px;
  outline: #fff;
}

#sign-in-form input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 3px solid rgba(81, 203, 238, 1);
}

#sign-in-form button {
  background-color: #263238;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: 600;
}

#sign-in-form button:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

header[role="banner"] {
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 999;
  top: 0;
  border-bottom: 1px solid #fff;
  background-color: #2a3542;
}

header[role="banner"] h2 {
  position: absolute;
  top: 12px;
  left: 20px;
  color: #fff;
}

header[role="banner"] #hamburger {
  position: absolute;
  top: 8px;
  margin-left: 170px;
  font-size: 30px;
  display: block;
  cursor: pointer;
  user-select: none;
}
header[role="banner"] ul {
  display: flex;
  float: right;
  position: relative;
}

header[role="banner"] ul li {
  display: inline;
  margin-right: 30px;
}

header[role="banner"] ul li a img {
  height: 40ox;
  width: 40px;
  top: 5px;
  position: relative;
  border-radius: 50%;
}

header[role="banner"] ul li .logout {
  color: #fff;
  top: 15px;
  position: relative;
  text-decoration: none;
}

header[role="banner"] ul li .logout::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f2f5";
  margin-right: 2px;
}

nav[role="navigation"] {
  position: fixed;
  top: 34px;
  display: block;
  overflow: hidden;
  width: 200px;
}

nav[role="navigation"] .main-navigation {
  top: 20px;
  margin: 0;
  padding-top: 30px;
  background-color: #2a3542;
  height: 96vh;
}

nav[role="navigation"] ul li:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: rgba(100, 100, 100, 0.5);
}

nav[role="navigation"] ul li a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}

nav[role="navigation"] ul li .dropdown {
  visibility: hidden;
  display: none;
  transition: visibility 1s ease-in;
  left: 0;
  width: 100%;
}

nav[role="navigation"] ul li .show {
  visibility: visible;
  display: block;
  transition: visibility 1s ease-in;
  left: 0;
  width: 100%;
}

nav[role="navigation"] ul li ul li a {
  margin: 0;
  padding-top: 8px;
  font-size: 16px;
  color: rgba(168, 163, 163, 0.9);
}

nav[role="navigation"] ul li:hover>ul,
nav[role="navigation"] ul li ul:hover {
  transition-delay: 0s, 0s, 0.3s;
  visibility: visible;
  display: block;
}

nav[role="navigation"] ul li ul li {
  clear: both;
  padding-left: 40px;
}

.active {
  background-color: rgba(100, 100, 100, 0.5);
  border-bottom: 1px solid white;
}

.itemSelect {
  background-color: rgba(100, 100, 100, 0.5);
}

.dashboard .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f3fd";
  margin-right: 8px;
}


.sales-record .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f012";
  margin-right: 8px;
}

.modify-shop .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f552";
  margin-right: 8px;
}

.modify-shop .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f552";
  margin-right: 8px;
}

.carted .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f217";
  margin-right: 8px;
}

.all-products .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f58d";
  margin-right: 8px;
}

.recorded .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f2b9";
  margin-right: 8px;
}

.attendants-profile .element::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f0c0";
  margin-right: 8px;
}

main[role="dashboard"] {
  position: absolute;
  top: 54px;
  width: 100vw;
  z-index: -2;
  color: #333;
}

main[role="dashboard"] .container {
  position: relative;
  max-width: 1200px;
  padding: 1em;
  top: 40px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #3d3939, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

main[role="dashboard"] .container .category-heading {
  margin: 40px;
}

main[role="dashboard"] .welcome {
  position: relative;
  max-width: 1200px;
  top: 40px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.6;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

main[role="dashboard"] #reminder {
  position: relative;
  max-width: 1200px;
  top: 40px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.6;
  font-size: 19px;
}

main[role="dashboard"] #reminder .record-form {
  top: 60px;
}

main[role="dashboard"] #reminder .record-form form {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  top: 0px;
  font-family: 'Charmonman', cursive;
  border-collapse: collapse;
}

main[role="dashboard"] #reminder .record-form form label {
  display: block;
}

main[role="dashboard"] #reminder .record-form form p input {
  height: 30px;
  width: 100%;
}

main[role="dashboard"] #reminder .record-form form p button {
  height: 30px;
  width: 100%;
  margin-top: 30px;
  background: green;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: 600;
}

.image {
  border-radius: 50%;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
}

.btn {
  cursor: pointer;
  color: #fff;
  border: none;
  width: 79px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
  margin: 5px;
}

.checkout {
  background: #008cba;
  width: 150px;
}

.remove {
  background: lightcoral;
}

.admin {
  background: green;
}

.edit {
  background: #008cba;
}

main[role="dashboard"] .container select {
  position: relative;
  left: 80%;
  margin-bottom: 20px;
  top: 20px;
  width: 100px;
  height: 35px;
}

main[role="dashboard"] .container .profile-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 35px;
  width: inherit;
  margin: 0 auto;
}

main[role="dashboard"] .container .record-stat {
  width: inherit;
}

main[role="dashboard"] .container .record-stat img {
  display: block;
  margin: auto;
}

.profile {
  padding: 10px;
  border-radius: 5px;
  display: block;
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.me {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-stat {
  width: 80%;
  display: block;
  margin: auto height: 70%;
}

.product-image {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 4%;
  bottom: 0;
  left: 6px;
  right: 0;
  height: 200px;
  width: 350px;
  opacity: 0;
  transform: scale(0.2);
  text-align: center;
  align-items: center;
  transition: 0.5s ease;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.overlay p {
  display: inline-block;
  font-size: 25px;
}

.overlay .about span {}

.overlay .about .price {
  margin-top: 15px;
}

.overlay .about i {
  margin-top: 15px;
  cursor: pointer;
  font-size: 25px;
}

.test {
  padding: 10px;
  display: flex !important;
  text-align: center;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background: #D5E0CC;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td img {
  height: 50px;
  width: 50px;
}



input {
  font-family: 'Roboto', serif;
  font-size: 15px;
}

main[role="dashboard"] .container .attendants-stats {
  margin-top: 45px;
}

@media only screen and (max-width: 600px) {
  
}